body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 246, 229);
}

#greenBtn {
    background-color: rgb(33, 214, 33);

}

#yellowBtn {
    background-color: yellow;
}

#redBtn {
    background-color: red;
}

button {
    margin: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    border: 3px solid;
}

#greenBtn:hover {
    cursor: pointer;
    transition: ease-in;
    background-color: rgb(27, 160, 27);
}

#yellowBtn:hover {
    cursor: pointer;
    transition: ease-in;
    background-color: rgb(208, 208, 0);
}

#redBtn:hover {
    cursor: pointer;
    transition: ease-in;
    background-color: rgb(213, 0, 0);
}
#stopBtn{
    padding: 20px 100px 20px 100px;
    font-size:2em;
}
#stopBtn:hover{
    cursor: pointer;
    background-color: darkgray;
}